/*.material-symbols-outlined {*/
/*  font-variation-settings:*/
/*    'FILL' 1,*/
/*    'wght' 400,*/
/*    'GRAD' 0,*/
/*    'opsz' 20!important;*/
/*}*/

/*.navbarBox {*/
/*  font-size: 14px;*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 3fr 1fr;*/
/*}*/
/*.navbarText {*/
/*  font-size: 18px!important;*/
/*}*/
/*.navbar-long {*/
/*  height: 100px;*/
/*}*/
/*.menu {*/
/*  display: none!important;*/
/*  margin-right: auto;*/
/*}*/
/*.menu span {*/
/*  font-size: 18px!important;*/
/*}*/
/*.hive {*/
/*  margin-right: auto;*/
/*}*/
/*!*.navbar-long a {*!*/
/*!*  color: rgba(255,255,255,0.8)!important;*!*/
/*!*}*!*/
/*!*.navbar-long a:hover {*!*/
/*!*  color: white!important;*!*/
/*!*}*!*/

/*@media(max-width: 992px) {*/
/*  .menu {*/
/*    display: flex!important;*/
/*  }*/
/*  .hive {*/
/*    margin: auto;*/
/*  }*/
/*  .navbarBox {*/
/*    grid-template-columns: 1fr 1fr 1fr!important;*/
/*  }*/
/*  .navbarText {*/
/*    display: none!important;*/
/*  }*/
/*}*/



.header {
  height: 62px;
  /*box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);*/
  position: relative;
  border-bottom: 1px solid rgba(0, 16, 61, 0.12);
}
.logo {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding-right: 16px;
}
.header-item {
  cursor: pointer;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
}
.header-item img {
  padding-bottom: 4px;
}
.header-item:hover {
  background: rgba(0, 16, 61, 0.04);
}
.header-item-active {
  font-weight: 500;
  background: rgba(0, 95, 249, 0.1)!important;
  color: #005FF9!important;
}
.header-search {
  all: unset;
  border: 1px solid rgba(0, 16, 61, 0.12);
  border-radius: 8px;
  padding: 8px 8px 8px 36px;
  font-size: 15px;
  color: #87898F!important;
  width: 21rem;
  background: url("src/assets/images/search.svg") 8px 8px no-repeat, white;
  z-index: 1;

  transition: all 0.2s;
}
.header-search-active {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,.4);
  transition: .15s ease-in-out;
  transition-property: opacity,visibility;
}
.header-mobile {
  display: none;
  cursor: pointer;
}

.header-component {
  transition: all 0.1s;
}

.header-item-active span{
  color: #005FF9!important;
}

.basket-counter {
  color: #005FF9!important;
}

@media (max-width: 992px) {
  .logo {
    padding: 0;
  }
  .header-mobile {
    display: block;
  }
  .header-item, .header-search {
    display: none!important;
  }
}
