<mat-drawer-container [hasBackdrop]="true">
  <header class="navbar container">
    <mat-icon class="menuButton" (click)="drawer.toggle()" [ngClass]="{'test': true}">menu</mat-icon>
    <a class="logo" href="./">FANTASY</a>
    <a class="regions" (click)="true">{{region.rus_name}}<mat-icon>keyboard_arrow_down</mat-icon></a>
    <a class="shops" (click)="router.navigate(['shop']).then()">Магазины</a>
    <a (click)="true" *ngIf="router.url != '/'" class="catalog">Каталог</a>
    <input value="Поиск товаров" *ngIf="router.url != '/'" class="searchbar" (click)="true" type="submit">
    <a class="auth">Профиль</a>
    <a class="basket">Корзина 1</a>
  </header>
  <mat-drawer #drawer mode="over">
    <mat-icon mat-button (click)="drawer.toggle()">close</mat-icon>
    <div>
      <a (click)="drawer.toggle();" class="on-hover">
        <mat-icon>clear_all</mat-icon>
        Каталог
      </a>
      <hr>
      <a (click)="drawer.toggle();" class="on-hover">
        <mat-icon> near_me</mat-icon>
        {{region.rus_name}}
      </a>
      <a class="on-hover"
         [routerLink]="['shop']"
         (click)="drawer.toggle()">
        <mat-icon>
          terrain
        </mat-icon>
        Магазины
      </a>
      <hr>
      <a class="on-hover">
        <mat-icon>list_alt</mat-icon>
        Список покупок
      </a>
      <a class="on-hover">
        <mat-icon>notes</mat-icon>
        Сравнение
      </a>
      <hr>
      <a class="on-hover">
        <mat-icon>exit_to_app</mat-icon>
        Войти
      </a>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
