<div class="large-cards gap-3">
  <div class="large-card gap-1 d-flex flex-column justify-content-between align-items-center"
       *ngFor="let element of item.goods | paginate : {itemsPerPage: 30, currentPage: page, totalItems: item.count}"
       (click)="openGood(element)">
    <div class="d-flex flex-column" style="max-height: 64px">
      <p class="large-card-title ">{{element?._source?.name}}</p>
      <div class="large-card-subtitle d-flex align-items-center justify-content-around">
        <p class="large-card-about d-flex align-items-center justify-content-around">{{element?._source?.price}} ₽</p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center gap-lg-5 mt-5" style="color: rgba(29,29,31,.32); font-size: 18px!important;">
  <a (click)="page>1?handlePageChange(page-1):''">
    <span class="material-symbols-outlined" [style]="page==1?'color: rgba(29,29,31,.32)':'color: black'">navigate_before</span>
  </a>
  <p>{{page}} из {{pages}}</p>
  <a (click)="(page < pages)?handlePageChange(page+1):''">
    <span class="material-symbols-outlined" [style]="page==pages?'color: rgba(29,29,31,.32)':'color: black'">navigate_next</span>
  </a>
</div>
