.large-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 16px 0 0 0;
}
.large-card {
  border: 1px solid rgba(0, 16, 61, 0.12);
  padding: 8px 12px;
  height: 450px;
  border-radius: 16px;
  cursor: pointer;
  transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}
.large-card:hover {
  box-shadow: 0 12px 40px 0 rgb(0 16 61 / 12%);
  border-color: transparent;
}
.large-card-image {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  background-size: cover!important;
}
.large-card-title {
  font-weight: 500;
  font-size: 16px;
  margin-top: auto;
}
.large-card-subtitle {
  width: 100%;
}
.large-card-about {
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}
.good-edit {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  margin: 10px;
  transition: all 0.2s;
}
.catalogue-filter-sidebar {
  padding: 16px 0 0 0;
  min-height: calc(100vh - 62px);
  height: auto;
}
.catalogue-filter-sidebar-element {
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.catalogue-filter-sidebar-element p {
  font-weight: 400;
}
.catalogue-filter-sidebar-element:hover {
  background: rgba(0,16,61,.04);
}
.catalogue-filter-sidebar-element[open] .cfs-summary img{
  transform: rotateZ(90deg);
}
.cfs-summary img {
  transition: all 0.2s ease;
}
.cfs-summary {
  padding: 12px;
}
.element-list {
  padding: 0 12px 12px 12px;
}
.element-list-array {
  overflow-y: auto;
  max-height: 300px;
}
.cfsc-disabled:before {
  background: rgba(0, 16, 61, 0.08);
  border: 1px solid rgba(0, 16, 61, 0.12);
}
.catalogue-filter-sidebar-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.catalogue-filter-sidebar-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.catalogue-filter-sidebar-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.catalogue-filter-sidebar-checkbox:checked+label::before {
  border: none #005FF9;
  background-color: #005FF9;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 6'%3e%3cpath fill='white' d='M7.7 0.3C7.3 -0.1 6.7 -0.1 6.3 0.3L3 3.6L1.7 2.3C1.3 1.9 0.7 1.9 0.3 2.3C-0.1 2.7 -0.1 3.3 0.3 3.7L2.3 5.7C2.5 5.9 2.7 6 3 6C3.3 6 3.5 5.9 3.7 5.7L7.7 1.7C8.1 1.3 8.1 0.7 7.7 0.3Z'/%3e%3c/svg%3e");
}
.catalogue-filter-sidebar-number {
  all: unset;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  padding: 4px 8px;
  min-width: 50px;
  width: 100%;
}
