<!--<main class="container catalogue-window justify-content-center d-flex flex-column" style="height: 100vh">-->
<!--  <div class="d-flex justify-content-between align-items-center catalogue-title">-->
<!--    <h2 class="">{{title}}</h2>-->
<!--    <h2 *ngIf="title == 'Каталог'"><a href="/catalogue/edit">Редактировать</a></h2>-->
<!--    <div class="d-flex gap-3">-->
<!--      <div class="d-flex align-items-center on-hover" style="cursor: pointer" *ngIf="title != 'Каталог'" (click)="returnBack()">-->
<!--        <span class="material-symbols-outlined">navigate_before</span>-->
<!--        <p>Назад</p>-->
<!--      </div>-->
<!--      <span class="material-symbols-outlined" (click)="closeDialog()">close</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row justify-content-between g-0 elements mt-4">-->
<!--    <div *ngFor="let element of viewCollection;"-->
<!--         [ngClass]="(element.data)?'catalog-element col-md-3':'catalog-third-elements col-md-4'">-->
<!--      <hr>-->
<!--      <h5 class="mb-3 on-hover catalog-element-text"-->
<!--          style="cursor: pointer;"-->
<!--          title="{{element?.name}}"-->
<!--          (click)="openNextLevel(element)">-->
<!--        {{element?.name}}-->
<!--      </h5>-->
<!--      <p class="catalog-element-text on-hover"-->
<!--         style="color: darkgray;"-->
<!--         title="{{element.data[index]?.name}}"-->
<!--         *ngFor="let index of checkLengthChildElements(element.data);"-->
<!--         (click)="openThirdLevel(element.data[index])">-->
<!--        {{element.data[index]?.name}}-->
<!--      </p>-->
<!--      <p class="mt-2"-->
<!--         *ngIf="checkLengthChildElements(element.data).length == 3 && element?.data.length > 3">-->
<!--        <a class="more on-hover"-->
<!--           (click)="openNextLevel(element)">-->
<!--          Еще {{element?.data.length - 3}}-->
<!--        </a>-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->

<main class="container" *ngIf="viewCollection.length > 0">
  <div class="d-flex flex-column justify-content-center catalogue-container">
    <div class="d-flex justify-content-between align-items-center catalogue-title">
      <p class="">{{title}}</p>
<!--      <p *ngIf="title == 'Каталог'"><a href="/catalogue/edit">Редактировать</a></p>-->

      <div class="d-flex gap-2">
        <a href="/catalogue/edit"><img src="assets/images/settings.svg" *ngIf="title == 'Каталог'"></a>
        <img src="assets/images/arrow-previous.svg" *ngIf="title != 'Каталог'" (click)="returnBack()">
        <img src="assets/images/close.svg" (click)="closeDialog()">
      </div>
    </div>

    <div class="d-grid justify-content-between gap-2 elements">
      <div *ngFor="let element of viewCollection; let i = index">
        <div class="d-flex gap-2 align-items-center catalogue-item" (click)="openNextLevel(element)">
          <p class="catalogue-item-title">{{element?.name}}</p>
          <p class="catalogue-item-title-counter" *ngIf="element?.data?.length">{{element?.data?.length}}</p>
        </div>
        <p class="catalogue-item-subtitle"
           style="color: darkgray;"
           title="{{element.data[index]?.name}}"
           *ngFor="let index of checkLengthChildElements(element.data);"
           (click)="openThirdLevel(element.data[index])">
          {{element.data[index]?.name}}
        </p>
      </div>
    </div>
  </div>
</main>
