<main class="navbar container">
  <a class="logo">FANTASY</a>
  <input placeholder="Поиск товаров" class="searchbar">
  <mat-icon mat-button (click)="closeDialog()" class="close-button">close</mat-icon>
  <div class="searchField">
    <p style="padding: 10px 0px; color: #b0b0b0">Товары</p>
    <div>
      <p class="searchFieldElement">Обои</p>
      <p class="searchFieldElement">Обои</p>
      <p class="searchFieldElement">Обои</p>
    </div>
    <p style="padding: 10px 0px; color: #b0b0b0">Услуги</p>
    <div>
      <p class="searchFieldElement">Обои</p>
      <p class="searchFieldElement">Обои</p>
      <p class="searchFieldElement">Обои</p>
    </div>
  </div>
</main>
