/*.close-button {*/
/*  cursor: pointer;*/
/*}*/
/*input {*/
/*  all: unset;*/
/*  color: #b0b0b0;*/
/*  background: #f0f1f2;*/
/*  padding: 15px 20px;*/
/*  border-radius: 5px;*/
/*  transition: all .3s;*/
/*}*/
/*input:focus {*/
/*  background: white;*/
/*  box-shadow: 0 4px 20px rgba(72, 78, 92, .15);*/
/*}*/
/*.shops {*/
/*  display: grid;*/
/*  grid-template-columns: 30% 70%;*/
/*  grid-template-rows: 25% 15% 60%;*/
/*  grid-template-areas: 'storeCount map'*/
/*                        'region map'*/
/*                        'shopList map';*/
/*  height: 750px;*/
/*  text-align: center;*/
/*}*/
/*.shops-list {*/
/*  !*display: grid;*!*/
/*  !*grid-template-rows: 25% 15% 60%;*!*/
/*  !*grid-template-columns: auto;*!*/
/*  !*background: #fffbed;*!*/
/*  !*text-align: center;*!*/
/*}*/
/*.shop-list-first {*/
/*  background: #66c05d;*/
/*  color: white;*/
/*  justify-content: space-evenly;*/
/*  align-items: center;*/
/*  text-align: center;*/
/*  display: flex;*/
/*  padding: 0 10px;*/
/*  grid-area: storeCount;*/
/*}*/
/*.shop-list-second {*/
/*  background: #4ea444;*/
/*  color: white;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  grid-area: region;*/
/*  padding: 5px;*/
/*}*/
/*.region-text {*/
/*  display: flex;*/
/*  font-size: 12px;*/
/*  opacity: 0.6;*/
/*  justify-content: center;*/
/*}*/
/*.region-text mat-icon {*/
/*  width: auto;*/
/*  height: auto;*/
/*  font-size: 14px!important;*/
/*}*/
/*.shop-list-second a {*/
/*  text-decoration: underline;*/
/*  font-size: 18px;*/
/*}*/
/*.bigNumber {*/
/*  font-size: 56px*/
/*}*/
/*.smallLetter {*/
/*  opacity: .8;*/
/*}*/
/*.smallTextUnderNumber {*/
/*  font-size: 14px;*/
/*  margin-top: -20px;*/
/*}*/
/*.shopList {*/
/*  grid-area: shopList;*/
/*  background: #fffbed;*/
/*  overflow: auto;*/
/*}*/
/*.shop-list-element {*/
/*  margin: 10px;*/
/*  background: white;*/
/*  padding: 10px;*/
/*  text-align: start;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 5px;*/
/*}*/
/*.shop-element-address {*/
/*  font-size: 12px;*/
/*}*/
/*.shop-element-openTime {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 5px;*/
/*  font-size: 12px!important;*/
/*}*/
/*@media(max-width: 1024px) {*/
/*  .shops {*/
/*    height: 714px;*/
/*  }*/
/*}*/
/*@media(max-width: 992px) {*/
/*  .shops {*/
/*    grid-template-columns: 30% 70%;*/
/*    grid-template-rows: 20% 80%;*/
/*    grid-template-areas: 'storeCount region'*/
/*    'shopList map';*/
/*  }*/
/*  .bigNumber {*/
/*    font-size: 34px;*/
/*  }*/
/*  .smallLetter span {*/
/*    display: none;*/
/*  }*/
/*  .smallTextUnderNumber {*/
/*    margin-top: -10px;*/
/*    font-size: 12px;*/
/*  }*/
/*}*/
/*@media(max-width: 768px) {*/
/*  .shops {*/
/*    grid-template-columns: 100%;*/
/*    grid-template-rows: 15% 85%;*/
/*    grid-template-areas: 'region'*/
/*                        'map';*/
/*    position: relative;*/
/*  }*/
/*  .shop-list-first {*/
/*    display: none;*/
/*  }*/
/*  .shopList {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    z-index: 1;*/
/*    width: 100%;*/
/*    background: transparent;*/
/*    display: ruby;*/
/*  }*/
/*  .shop-list-element {*/
/*    width: 250px;*/
/*    height: 120px;*/
/*  }*/
/*}*/
.balloon {
  padding: 30px 25px;
  /*height: 100%;*/
  height: auto;
  overflow: hidden!important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.balloonTitle {
  font-size: 16px;
  font-weight: bold;
}
.ymaps-2-1-79-map-bg {
  background-image: none!important;
}
.ymaps-2-1-79-balloon__content {
  all: unset;
}
.ymaps-2-1-79-balloon__close + .ymaps-2-1-79-balloon__content {
  font-family: "SF Pro Rounded", sans-serif!important;
  margin: unset!important;
  padding: unset!important;
}
.ymaps-2-1-79-balloon__close + .ymaps-2-1-79-balloon__content ymaps {
  width: 380px!important;
  height: 430px!important;
}
.balloon p {
  margin-bottom: 10px!important;
}
.balloon hr {
  margin: 15px 0!important;
}
.balloon div {
  display: flex;
  justify-content: space-between;
}
.balloon a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #66c05d;
  color: white!important;
  cursor: pointer;
  height: 36px;
  width: 250px;
  margin: 15px auto 0 auto;
}
.balloon a:hover {
  background: #4ba842;
}

/*.background-map {*/
/*  background: url("src/assets/images/background-map.png") center no-repeat;*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  z-index: -1;*/
/*  opacity: 0.15;*/
/*}*/
.ymaps-2-1-79-gototech, .ymaps-2-1-79-gotoymaps__container, .ymaps-2-1-79-copyright__content {
  display: none!important;
}
.ymaps-2-1-79-inner-panes {
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
}


.title {
  font-weight: 500;
  font-size: 2rem;
}
.shop-container {
  /*box-shadow: 0 12px 40px 0 rgb(0 16 61 / 12%);*/
  border: 1px solid rgba(0, 16, 61, 0.12);
  border-radius: 16px;
  width: 100%;
  height: calc(100vh - 62px - 12rem);

  grid-template-columns: 25% 75%;
}
.shop-list {
  padding: 1.5rem 2rem;
  height: calc(100vh - 62px - 12rem);
  overflow-y: auto;
}
.shop-list-region {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 12px;
}
.shop-list-item-title {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 8px;
}
.shop-list-item-about {
  font-weight: 300;
  font-size: 13px;
}

@media (max-width: 992px) {
  .shop-container {
    grid-template-columns: auto;
  }
  .shop-list {
    display: none!important;
  }
  .ymaps-2-1-79-inner-panes {
    border-radius: 16px!important;
  }
}
