main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'main main main main';
  gap: 5px;
}
.main-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
